:root {
  --two-min-column: 380px;
  --three-min-column: 350px;
}

@media all and (max-width: 450px) {
  :root {
    --two-min-column: 260px;
    --three-min-column: var(--two-min-column);
  }
}

.two-columns,
.three-columns,
.four-columns {
  display: grid;
  gap: var(--margin-xl);
}

.two-columns {
  grid-template-columns: repeat(2, 1fr);
}

.three-columns {
  grid-template-columns: repeat(auto-fit, minmax(var(--three-min-column), 1fr));
}

.three-columns--small,
.four-columns {
  gap: var(--margin-m);
}

.four-columns {
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

@media all and (max-width: 864px) {
  .two-columns {
    grid-template-columns: 1fr !important;
  }
  .reverse.two-columns > *:last-child {
    grid-row-start: 1;
  }
}

@media all and (max-width: 782px) {
  .three-columns {
    gap: var(--margin-m);
  }
}
