.hero img {
  display: inline-block;
  margin-bottom: var(--margin-xxl);
  max-height: var(--hero-image-max-height);
}

.hero .small-hero__image {
  margin-bottom: 0;
}

.hero h1 {
  margin-bottom: var(--section-margin);
}

.hero h4 {
  margin-bottom: var(--margin-l);
}

.hero__link {
  padding: 8px 32px;
  padding: var(--margin-xxs) var(--margin-m);
  border-radius: var(--border-radius);
  font-size: var(--font-size-m);
  letter-spacing: -0.1px;
  font-weight: bold;
  border: var(--border);
  border-color: var(--accent);
}

.hero__link:focus,
.hero__link:hover {
  border-color: var(--black);
}

@media all and (max-width: 864px) {
  .hero {
    text-align: center;
    gap: 0;
  }
}
