.white-background {
  background-color: var(--white-transparent);
  width: 100%;
}

.hero-background {
  background-image: url(../images/hero-bg.svg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: auto 42.22rem;
}

.shadow {
  box-shadow: 0 12.4px 49.3px 0 rgba(0, 0, 0, 0.24);
}

.half-background {
  background: url(../images/blue-bg.svg), url(../images/gray-bg.svg);
  background-position: 0 100%, 0 0;
  background-size: 14.27rem auto, 50% auto;
  background-repeat: no-repeat, repeat-y;
}

.neutral-background {
  background: url(../images/neutral-bg.svg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: 83.6rem;
}

.footer-background {
  background: url(../images/gray-white-bg.svg), var(--light-gray);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 85rem, auto;
}

.gradient-background {
  background-image: linear-gradient(
    90deg,
    hsla(0, 0%, 100%, 0.9),
    var(--light-gray) 10%,
    var(--light-gray) 50%,
    var(--light-gray) 90%,
    hsla(0, 0%, 100%, 0.9)
  );
  background-size: auto;
  background-repeat: no-repeat;
}

.scale-background {
  background-size: 130.45px;
  background-image: url(../../assets/images/timeline-scale.svg);
  background-repeat: repeat;
  background-position: 0;
}
