:root {
  --margin-xxxl: 88px;
  --margin-xxl: 64px;
  --margin-xl: 56px;
  --margin-l: 40px;
  --margin-m: 32px;
  --margin-s: 24px;
  --margin-xs: 16px;
  --margin-xxs: 8px;

  --max-width: 1208px;

  --section-margin: 96px;
  --two-min-column: 380px;
  --three-min-column: 350px;
  --footer-min-column: 340px;
  --header-margin-top: 134px;
  --navigation-spacing: 7.45rem;

  --border-radius: 0.6666rem;
  --border: 2px solid var(--accent);
}

@media all and (max-width: 782px) {
  :root {
    --margin-xxxl: 80px;
    --margin-xxl: 56px;
    --margin-xl: 48px;
    --margin-l: 32px;
    --margin-m: 24px;
    --margin-s: 16px;
    --section-margin: 88px;
  }
}

@media all and (max-width: 450px) {
  :root {
    --footer-min-column: 267px;
    --two-min-column: 260px;
    --three-min-column: var(--two-min-column);
  }
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 5000px;
}

header {
  padding-top: var(--header-margin-top);
  padding-bottom: var(--section-margin);
}
