:root {
  --root-font-size: 18px;
  --font-size-xxl: 62px;
  --line-height-xxl: 70px;
  --font-size-xl: 48px;
  --line-height-xl: 56px;
  --font-size-l: 28px;
  --line-height-l: 36px;
  --font-size-m: 24px;
  --line-height-m: 32px;
  --font-size-s: 16px;
  --line-height-s: 24px;

  --root-font-color: var(--black);
}

@media all and (max-width: 782px) {
  :root {
    --font-size-m: 20px;
    --line-height-m: 28px;
    --font-size-xxl: 44px;
    --line-height-xxl: 52px;
    --font-size-xl: 34px;
    --line-height-xl: 42px;
  }
}

@media all and (max-width: 450px) {
  :root {
    --footer-min-column: 267px;
    --two-min-column: 260px;
    --three-min-column: var(--two-min-column);
  }
}

html,
button,
input {
  font-size: var(--root-font-size);
  line-height: 1.9;
  font-family: "PT Sans";
  color: var(--root-font-color);
}

button {
  cursor: pointer;
}

a {
  color: var(--accent);
  text-decoration: none;
}

a:hover,
a:focus {
  color: var(--black);
  text-decoration: underline;
}

.nav-link {
  color: var(--black);
  margin-right: var(--margin-m);
}

.nav-link:hover,
.nav-link:focus,
.button:hover,
.button:focus {
  color: var(--accent);
  text-decoration: none;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
}

h1 {
  font-size: var(--font-size-xxl);
  line-height: var(--line-height-xxl);
  letter-spacing: 0.2px;
}

h2 {
  margin-bottom: var(--margin-s);
  font-size: var(--font-size-xl);
  line-height: var(--line-height-xl);
  letter-spacing: 0.045rem;
}

h3 {
  font-weight: normal;
  margin-bottom: var(--margin-xs);
  font-size: var(--font-size-l);
  line-height: var(--line-height-l);
  letter-spacing: 0.05rem;
}

h4 {
  margin-bottom: var(--margin-xs);
  font-size: var(--font-size-m);
  line-height: var(--line-height-m);
  font-weight: normal;
  letter-spacing: -0.006rem;
}

p {
  margin-bottom: var(--margin-xs);
  max-width: 50rem;
}

.small-p {
  font-size: var(--font-size-s);
  line-height: var(--line-height-s);
}

p.small-p {
  margin-bottom: var(--margin-m);
}

.text-align--center {
  text-align: center;
}

.text-align--center p,
p.text-align--center {
  margin-left: auto;
  margin-right: auto;
}

.text-align--right {
  text-align: right;
}

.button {
  display: inline-block;
  padding: var(--margin-xxs) var(--margin-xs);
  border: var(--border);
  border-color: var(--black);
  border-radius: var(--border-radius);
  background-color: unset;
  cursor: pointer;
}

.button:hover,
.button:focus {
  border-color: var(--accent);
}
