.event-speaker {
  display: flex;
  align-items: center;
  border-radius: 66px 0 0 66px;
  margin-right: calc(var(--margin-xs) * -1);
  margin-bottom: var(--margin-xs);
  padding-right: var(--margin-xs);
}

.event-speaker_clickable {
  cursor: pointer;
}

.event-speaker img {
  --image-size: 44px;
  min-width: var(--image-size);
}

.event-speaker__details > * {
  display: block;
  color: var(--root-font-color);
}

.details__name {
  color: var(--root-font-color);
  line-height: 1.4;
}

.details__name--ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
}
