.card--event {
  padding: var(--margin-xs);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card__title {
  width: 100%;
  font-weight: bold;
  line-height: 1.4;
}

p.card__short-info,
a.card__short-info {
  margin-bottom: 16px;
}

.card__details {
  display: flex;
  align-items: center;
  margin-bottom: var(--margin-xs);
}

.details__room {
  width: min-content;
}

.details__time {
  width: 100%;
  text-align: center;
}

.card__button {
  background-color: unset;
  color: var(--accent);
  padding: 0;
  border: none;
  margin: 0 auto;
  display: block;
}

.card__button--spacer {
  display: block;
  height: 24px;
}
