.card--extended-event {
  z-index: 2;
  position: fixed;
  overflow-y: auto;
  padding: var(--margin-xs);
  width: calc(100vw - (var(--margin-m) * 2));
  max-width: 800px;
  max-height: calc(100vh - (var(--margin-m) * 2));
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.backdrop {
  z-index: 2;
  content: "";
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: hsla(0, 0%, 100%, 0.85);
}

.card__header {
  display: flex;
  flex-wrap: wrap;
  grid-template-columns: 2fr 1fr;
  justify-content: space-between;
  margin-bottom: var(--margin-xs);
}

.card__header > * {
  flex-grow: 1;
}

.card__main {
  display: flow-root;
  margin-bottom: var(--margin-xs);
}
