.card--extended-event {
  position: absolute;
  padding: var(--margin-xs);
  left: var(--margin-xs);
  right: var(--margin-xs);
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.card__header {
  display: flex;
  flex-wrap: wrap;
  grid-template-columns: 2fr 1fr;
  justify-content: space-between;
  margin-bottom: var(--margin-xs);
}

.card__header > * {
  flex-grow: 1;
}

.card__main {
  display: flow-root;
  margin-bottom: var(--margin-xs);
}
