.card--simple {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: var(--margin-m);
  text-align: center;
}

.card__image {
  display: inline-block;
  margin-bottom: var(--margin-xs);
  height: 44px;
  width: auto;
}

/* So complicated selector for overwrite "p:only-of-type" in section */
.card--simple p.card__description {
  margin-bottom: var(--margin-m);
}
