.sponsors {
  /* display: grid;
  grid-template-columns: repeat(auto-fit, minmax(123px, auto));
  grid-template-columns: repeat(3, 1fr);
  gap: var(--margin-m);
  margin-bottom: var(--margin-m);
  align-items: center; */
}
