.footer {
  padding-top: var(--section-margin);
  padding-bottom: var(--margin-xs);
  margin-bottom: 0;
}

.footer__wrapper {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(var(--footer-min-column), 1fr)
  );
  column-gap: var(--section-margin);
  row-gap: var(--margin-l);
  margin-bottom: var(--margin-xl);
}

.footer p {
  margin-bottom: var(--margin-m);
}

.patrons {
  display: grid;
  gap: var(--margin-m);
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(7rem, 1fr));
}

.patrons img {
  width: auto;
  max-height: 5.556rem;
}

.socialmedia {
  display: flex;
}

.socialmedia img {
  width: auto;
  height: 14px;
  margin-right: var(--margin-xs);
}
