.entry {
  --entry-border-radius: 3.666rem;
  display: flex;
  align-items: center;
  border-radius: var(--entry-border-radius);
  min-height: var(--timeline-min-height);
  cursor: pointer;
}

.entry--break-left {
  grid-column-start: 1 !important;
  border-radius: 0 var(--entry-border-radius) var(--entry-border-radius) 0;
}

.entry--break-right {
  border-radius: var(--entry-border-radius) 0 0 var(--entry-border-radius);
}

.entry__image {
  --image-size: 54px;

  margin: 5px;
  border: var(--border);
  display: block;
  border-radius: 50%;
  width: var(--image-size);
  height: var(--image-size);
  object-fit: cover;
  overflow: hidden;
}
