.registration h4 {
  margin-bottom: var(--margin-s);
  max-width: 620px;
  line-height: 36px;
}

.registration--two-columns {
  grid-template-columns: 2fr 1fr;
}

.registration--two-columns > img {
  align-self: center;
  width: auto;
  max-width: 100%;
}

@media all and (max-width: 864px) {
  .registration--two-columns > *:last-child {
    display: none;
  }
}
