.registration {
  padding-top: var(--margin-xl);
}

.registration h4 {
  margin-bottom: var(--margin-s);
}

.registration--two-columns {
  grid-template-columns: 2fr 1fr;
}

.registration--two-columns > img {
  align-self: center;
}

@media all and (max-width: 864px) {
  .registration--two-columns > *:last-child {
    display: none;
  }
}
